@import "tailwindcss";

.dropzone {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 2px dashed #0047fa;
  border-radius: 0.25em;
  color: #0047fa;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.dropzone-feedback {
  margin-top: 1em;
  font-size: 1.25em;
  color: #0047fa;
  text-align: center;
}

.dropzone-focused {
  border-color: teal;
  color: teal;
}

.dropzone-accept {
  border-color: teal;
  color: teal;
}

.dropzone-reject {
  border-color: red;
  color: red;
}

.game__dropzone {
  width: 100%;
}

.p-stepper .p-stepper-number.p-highlight {
    background-color: #ec4899 !important; /* pink-500 */
    border-color: white !important;
    color: white !important;
}

.p-stepper-number {
  background: #ec4899 !important;
}

/* Cambia el color del texto del paso activo */
.p-stepper .p-stepper-title.p-highlight {
    color: #db2777 !important; /* pink-600 */
    font-weight: bold;
}

/* Cambia el color de la línea que conecta los pasos */
.p-stepper .p-stepper-separator {
    background-color: #fbcfe8 !important; /* pink-200 */
}